<robot name="mycar_text">
    <link name="base_link">
            <visual>
                <geometry>
                    <box size="0.86 0.60 0.25" />
                </geometry>
                    <origin xyz="0 0 0.125" rpy="0 0 0" />
                    <material name="car_color">
                        <color rgba="1 0 0 1"/>
                    </material>
            </visual>
    </link>
</robot>